.mainPro{
   display: grid;
    grid-template-columns: auto auto;  
}
.right{
    width: 1050px;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}
.left{
    width: 270px;
    height: 100vh;
    position: sticky;
    overflow: hidden;

}