.main{
    display: grid;
    grid-template-columns: auto auto; 

}
.right{
    width: 1050px;
    height: 100vh;    
    position: relative;
}
.left{
    width: 270px;
    height: 100vh;
    position: sticky;

}