.main{
    display: grid;
    grid-template-columns: auto auto; 

}
.right{
    width: 1050px;
    height: 100vh; 
    display: flex;
    overflow: hidden;
}
.left{
    width: 270px;
 
    position: sticky;
}
.list1{
    margin-top: 20px;
}
.rightMain{
    height: 100vh;
    overflow: hidden;
}
