.main{
    display: grid;
    grid-template-columns: auto auto;  
}
.right{
    width: 1050px;
    height: 100vh;
    overflow: auto;
}
.left{
    width: 270px;
    height: 100vh;
    position: sticky;
    overflow: hidden;

}
.Container{
    display: flex;
    margin-top: 50px;
}
.text{
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
}
.bar{
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
}
.text2{
    font-size: smaller;
}
.AboutFooter{
    background-color: rgb(221, 233, 237);
    padding: 20px;
}