.container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
.left{
    width: 300px;
    height: 790px;
    background-color: black;
}
.right{
    width: 1052px;
    height: 790px;
    background-color: brown;
}
.img1{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 10px solid rgb(55, 55, 55);
    margin-left: 45px;  
}
.myname{
    margin-left: 45px; 
    padding: 15px;
}