.container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
.left{
    width: 300px;
    height: 790px;
    background-color: black;
}
.right{
    width: 1052px;
    height: 790px;
    background-color: brown;
}
.img1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid black;
    margin-left: 27px;
   
}